[package]
name = "db"
version.workspace = true
edition.workspace = true

[dependencies]
shared = { path = "../shared" }
domain = { path = "../domain" }
sqlx.workspace = true
thiserror.workspace = true
